name: Set up Python 3.14t on windows-11-arm

on: [push]

jobs:
  test-python:
    runs-on: windows-11-arm
    steps:
     
      - uses: actions/checkout@v6
      
      - name: Set up Python 3.14t (freethreaded)
        uses: actions/setup-python@v6
        with:
          python-version: '3.14t'
          architecture: 'arm64'
